
*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
}

.project-title {
	width: 100%;
	height:100vh;
	background: url(../images/home3.jpg);
	background-repeat: no-repeat;
	background-position: center;

}
nav {
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: space-between;	
	align-items: center;
    background-color: #c12529;
    color: #fff;
    background-color: #8d99ae;
  }


.header-logo {
	padding-left: 100px;
	letter-spacing: 3px;	

  float: left;
  font-size: 50px;
  padding: 20px 40px;
}
.menu a {
	color: white;
	text-decoration: none;
	padding: 10px 20px;
	margin: 5px;
	font-size: 20px;
	font-weight: bold;
}
.menu {
	margin-right: 10px;
}
.header-logo span{
	color: #2b2d42;
}
.menu a:hover{
	background: #2b2d42;
	transition: 0.4s;
}
.text {
	color: white;
	font-family: "Times New Roman";	
	margin-top: 200px;
	margin-left: 100px;
	max-width: 450px;
}
.text h1{
	
	font-size: 50px;
}

.text p{
	font-size: 25px;
	
}
.c-btn {
	box-shadow: 2px 2px;
	border: none;
	outline: none;
	color: white;
	background: #2b2d42;
	padding: 10px;
	margin-top: 20px;
	font-family: "Times New Roman"
}
#about {
	padding: 100px 50px;
}
.section-info {
	font-size: 30px;
	font-weight:bold;
	text-align:center;
	color:#2b2d42; 
}
section {
	background-color:#8d99ae; 

}
.about-row {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.about-left-col {
	flex-basis: 50%;
}
.about-left-col img {
	width: 80%;
	padding: 50px;

}
.about-right-col{
	flex-basis: 50%;
}
.para-head {
	font-size: 30px;
	font-weight: bold;
}
.para {
	text-align: justify;
	font-size: 25px;
}
.project {
	background-color: #c12529;
}
 
.skills {
	color: white;
	padding: 150px 50px;
	background: url("../images/skillsbg.jpg");
	
	background-repeat: no-repeat;
	background-position: center;

	width: 100%;
	height:100vh;
}

.section-in {
	font-size: 30px;
	font-weight:bold;
	text-align:center;
	color: white; 
}
progress {
	width: 80%;  
}

.progress-div {
	width: 50%;
	margin: auto;
	align-items: center;
	margin-top: 10px;
	
}
.progress-div p{
	font-size: 20px;
	color: white;
	margin-top: 10px;
	margin-left:10px;
}
.contents-item {
	width: 100%;
	height: 200px;
}
.contact-form {
  padding-top: 100px;
  font-size: 30px;
  text-align: center;
}
input, textarea {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}
#last {
	width: 100%;
	height:100vh;
	background: url(../images/contacts1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #fff;
}
.footer {
  background-color: #2b2d42;
  color: #fff;
  width: 100%;
	height: 70px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 20px;
  text-align: center;
}

